@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&fami");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bebas Neue', sans-serif;
}

.portada{
    width: 100vw;
    height: 100vh;
    background-color:darkgray;
    color: black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand{
    margin-top: -7px;
}
.brand span{
    color: white;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}
.menu a {
    color:black;
    text-decoration: none;
    padding: 10px 20px
}

.menu .activa{
    color:black;
}

.menu a:hover{
    background-color: black;
    color: white;
    transition: ease-in .4s;
}

.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

h1{
    font-size: 3em;
}

span{
    color: rgb(243, 15, 15);
}

.main img{
    width: 350px;
    border: 5px solid white;
    height: 420px;

}

.abaut{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100vw;
    align-items: center;
}

.abaut img{
    width: 100%;
    grid-column: 1/5;
}

.intro{
    grid-column: 5/10;
    padding: 3em;
}

.intro h2{
    font-size: 2em;
    color: darkgrey;
}

.informacion-contenido{
    height: 4px;
    width: 60px;
    background-color: gold;
    margin-top: 5px;
    margin-bottom: 2em;
}

.intro p{
   margin-bottom: 1em; 
}