/* (1, 0, 0) */
/* (0, 1, 0) */
/* (0, 0, 1) */
/* (0, 0, 0) */

h1#h1-id.h1-clase{
    color: darksalmon;
}

.h1-clase{
    color: chartreuse;
}

h1{
    color: darkgoldenrod;
}

h1{
    color: aquamarine;
}

p{
    color: red;
}